Library/
Logs/
obj/
Temp/
UserSettings/
Recordings/
.vsconfig
*.csproj

Assets/*
!/Assets/_Scripts/
!/Assets/Prefabs/

Assets/_Scripts/*
!/Assets/_Scripts/Ammo
!/Assets/_Scripts/Weapons
!/Assets/_Scripts/Utilities

Assets/_Scripts/Utilities/*
!/Assets/_Scripts/Utilities/AnimatorParameters.cs

Assets/Prefabs/*
!/Assets/Prefabs/Ammo
!/Assets/Prefabs/Weapons